## Dependency directory
## Commenting this out is preferred by some people, see
## https://docs.npmjs.com/misc/faq#should-i-check-my-node_modules-folder-into-git
node_modules

# Root Files
*.vsix
vsc-extension-quickstart.md
sfdx-project.json

# Folders
**/.sfdx
**/.vscode
.sfdx
.vscode-test/
out
scripts
visx/**