**/*.js.map
**/*.map
*.vsix
.github/**
.gitignore
.gitlab-ci.yml
.jsbeautifyrc
.nyc_output/**
.prettierignore
.sfdx/**
.vscode-test/**
.vscode/**/*
analytics.json
assets/**
azure-pipelines.yml
book.json
coverage/**
coverconfig.json
dist/test/**
forcecode-**.vsix
images/**
package.xml
prettier.config.js
README_.md
scripts/**
sfdx-project.json
src/**/*
test/**
tsconfig.json
tslint.json
typings/**
vsc-extension-quickstart.md
wallaby.js
webpack.config.js