## Root Files
*.vsix
.gitignore
.jsbeautifyrc
README_.md
sfdx-project.json
tsconfig.json
tslint.json
vsc-extension-quickstart.md

## Folders
**/*.js.map
**/*.map
.github/**
.sfdx/**
.vscode/**
images/**
scripts/**
src/**/*

## INCLUDE
!images/icon.png