## Root Files
*.vsix
.gitignore
.jsbeautifyrc
README_.md
sfdx-project.json
tsconfig.json
tslint.json
vsc-extension-quickstart.md

## File Patterns
**/*.js.map
**/*.map
**/*.ts

## Folders
.github/**
.sfdx/**
.vscode/**
images/**
out/test/**
scripts/**
src/**
test/**

## INCLUDE
!images/icon.png
